body{
    background-color: #edf0f5;
    font-family: 'Nunito',sans-serif;
    color:#333;
}
.wrapper{
    color: #f9f9fb;
    width:100%;
    height:100%;
}

.content{
  position:relative;
}

/*--------------------------------------------------------STYLING TOP NAVIGATION--------------------------------------------------------*/

.top-nav {
    background-color: #3c8dbc;
    overflow: hidden;
    display: flex;
    width: 100%;
    z-index: 0;
  }

.logo {
    text-decoration: none;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    color: #f9f9fb;
}

.logo-mini {
    text-decoration: none;
    display: none;
    color: #f9f9fb;
  }
.logo .logo-lg {
    text-decoration: none;
    display: block;
    color: #f9f9fb;
}

.right-nav{
    margin-bottom: 0.9%;
    margin-left: 15rem;
    margin-right: 0;
    width: 60%;
    align-self: flex-end;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    color: white;
    text-decoration: none;
}

.label {
    display: inline;
    height: 1rem;
    padding: .2em .6em 0em;
    margin-right: 1em;
    text-align: center;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

  /*--------------------------------------------------------STYLING HAMBURGER ICON--------------------------------------------------------*/

.style-ham{
    font-weight: 20em;
    padding-top: 0.9%;
    font-size:1.5rem;
    display: inline-block;
}

  /*--------------------------------------------------------RIGHT SIDE NAVIGATION MENU--------------------------------------------------------*/
.main-side{
    display: inline-block;
    position:absolute;
    background-color: #222d32;
    width: 230px;
    min-height:66rem;
    z-index: -1;
    top: 0;
    left: 0;
    padding-top:2rem;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}


.user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.style-search{
    border-radius: 3px;
    border: 1px solid #374850;
    background-color: #374850;
    color:rgb(211, 207, 207);
    width: 10rem;
    height:2rem;
    margin: 10px 10px;
}

#search-btn{
    background: none;
    border:none;
    color:rgb(211, 207, 207);
}

.usr-menu {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
  } 
  .usr-menu > .image > img {
    width: 100%;
    max-width: 45px;
    height: auto;
    border-radius: 50%;
    padding-top: 1rem;
  }
  .usr-menu > .info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
  }
  .usr-menu > .info > p {
    font-weight: 600;
    margin-bottom: 9px;
  }
  .usr-menu > .info > a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
  }

  .pull-left {
    float: left !important;
  }

  .pull-right {
    float: right !important;
  }


  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
  }

  .sidebar-menu > li .label,
  .sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
  }

  .sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
  }

  .icon-style{
    margin-right: 5px;
  }


  .treeview a{
    font-size:13px;
    color:rgb(185, 178, 178) !important;
  }

  .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
  }
  .treeview > a:active > .fa-angle-left {
    transform: rotate(-90deg);
  }

  .sidebar-menu > .treeview > .treeview-menu {
    display: none;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
  }

  
  .treeview > a:active > ul{
    display: block;
  }

  .treeview > a:hover{
    background-color: #154968;
    color:white;
  }

  .sidebar-menu .treeview-menu > li {
    margin: 0;
  }
  .sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 12px;
  }
  .sidebar-menu .treeview-menu > li > a > .fa-angle-left,
  .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
  }

  #sidebar-toggle{
    display:inline-block;
  }

  .right-main-content{
    margin:1px 0px 0px 100px;
    display: flex;
    padding:1px 10px;
    position:absolute;
    left:140px; 
    color:black;
    width: 80%;
  }

  /*--------------------------------------------------------STYLING DASHBOARD HEADER--------------------------------------------------------*/

  .content-header {
    position: relative;
    padding: 15px 15px 0 15px;
    width:100%;
    display: inline-block;
  }
  .content-header > h1 {
    margin: 0;
    font-size: 24px;
  }
  .content-header > h1 > small {
    font-size: 13px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
    color: #444;

  }

  .content-header > .breadcrumb {
    background: transparent;
    align-self: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #444;
    text-decoration: none;
    display: inline-block;
  }

  /*--------------------------------------------------------STYLING MAIN CONTENT OF DASHBOARD-------------------------------------------------*/

  .list-container{
    color:black;
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:1rem; 
    margin-top: 4rem;
    width:81.5%;
    margin-left: 15rem;
  }
  /*Replicated for a flex container with white background*/

  .monthlybox-container{
    color:black;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-around; 
    padding-top:1rem; 
    margin-top: 1.5rem;
    width:81.5%;
    margin-left: 15rem;
  }

  .box-styling{
    width:20%;
    height:5rem;
    background-color: white;
    min-height:50%;
    margin-bottom:1rem;
  }

  /*--------------------------------------------------------STYLING SMALL RECTANGULAR BOXES-----------------------------------------------*/
  
  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
  }
  .info-box small {
    font-size: 14px;
  }

  .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
  }

  .info-box-content-white {
    padding: 5px 10px;
    margin-left: 90px;
    color:white;
  }
  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }

  .info-box-text {
    text-transform: uppercase;
    font-size:12px;
  }

  .box-header {
    color: #444;
    display: inline-block;
    padding:20px;
    padding-top:5px;
    padding-bottom:15px;
    display: block;
    position: relative;
  }

  /*--------------------------------------------------------STYLING BOXES WITH PROGRESS BARS--------------------------------------------------*/

  .progress-bar{
    margin-top: 5px;
    margin-left:1.5rem;
    width:70%;
    height:12px;
    display:block;
  }

  .head-styling{
    padding-left:1.5rem;
    font-size:12px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 5px;
    font-weight: 10px;
    width:80%;
  }

  .count-styling{
    font-size:12px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 10px;
  }

  .img-styling{
    display:flex;
    flex-direction:row;
  }

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-sizing{
  width:60%; 
  margin-left: 10px;
}

.styling-visitor-box{
  flex-direction:column; 
  width:80%; 
  margin-left:0;
  margin-right:5; 
  margin-top:-0.2rem;
  padding:0;
}

.horizontal-styling{
  margin:0; padding:0; 
  width:95%;
  height:0.3em;
}

/*--------------------------------------------------------STYLING BG COLOURS--------------------------------------------------------*/

.label-success{
  background-color: green;
}

.label-white{
background-color: white;
}


.label-orange{
  background-color: orange;
}


.label-warning{
  background-color: red;
}

.label-primary{
background-color:rgb(52, 136, 175);
}

/*--------------------------------------------------------STYLING TEXT COLOURS--------------------------------------------------------*/

.text-color-red{
  color:red;
}
.text-color-orange{
  color:orange;
}
.text-color-green{
  color:green;
}
.text-color-blue{
  color:rgb(52, 136, 175);;
}

/*--------------------------------------------------------ALIGN TEXT-----------------------------------------------------------------*/

.text-aligning{
  text-align: center;
}

/*--------------------------------------------------------STYLING COLOUR BOXES--------------------------------------------------------*/
.goalbox-styling{
  width:40%; 
  margin-left: 10px;
}

#colorbox-styling{
  width:40%; 
  margin:0; 
  flex-direction: column;
}

@media(min-width:1024px){

.styling-visitor-box{
  flex-shrink: 2;
  margin-right:1rem;
}
.monthlybox-container{
  flex-shrink: 2;
}

.goalbox-styling{
  width: 35%;
  margin-right:10%;
}

#colorbox-styling{
  flex-shrink:2;
  margin-right:15px;
}

.list-container:nth-of-type(2){
  flex-direction: row !important;
  flex-wrap: wrap;
}

}

@media(max-width:960px){
  .list-container:first-child{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .list-container:last-child{
    width:100rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .box-styling{
    width:40%;
  }

  .img-styling{
    flex-direction:column;
  }

  .goalbox-styling{
    width:100%;
  }

  .img-sizing{
    width:100%;
  }

  .head-styling,.count-styling{
    font-size:0.8rem;
  }

  .monthlybox-container{
    flex-direction: column;
  }

  .main-side{
    min-height: 112rem;
  }

  .styling-visitor-box{
    width:100%;
  }

  #colorbox-styling{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width:100%
    
  }

}

@media (max-width: 768px) {
#sidebar-toggle{
  display:none;
}

.right-main-content{
  margin-left:-6rem;
}

.monthlybox-container{
  margin-left:1rem;
}

#boxes{
  margin-left:2rem;
}

}

