body{
    background-color: #f5d9df;
    font-family: Nunito,sans-serif;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color:white;
}
#images{
    transition:1s;
}
#images:hover{
    opacity:50%;
    border-radius:50%;
    transform: scale(0.5);
}

h2{
    font-weight: 100;
    color:#ea1c2c;
    font-size: 2.5rem;
}

#mainNavbar .nav-link:hover{
    color:#ea1c2c;
}


#mainNavbar .navbar-brand{
    color:#ea1c2c;
}

#headingGroup span{
    color:#ea1c2c;
}
.btn-outline-danger {
    color:white;
}

.content_margin{
    margin-top: 100px;
}

.navbar.scrolled{
    background-color: rgb(222,192,222);
    transition: background-color 5ms;
}

#headingGroup h1{
    font-weight:100;
    font-size: 4rem;
}

.footr{
    display:block;
}
.footr:hover{
    color:#ea1c2c;
    cursor:pointer;
}
.para{
    color:#f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
   }

@media (max-width:1296px){
    #headingGroup h1{
        font-weight:100;
        font-size: 3rem;
    }
    
}
