body{
    background-color: #f9f9fb;
    font-family: 'Roboto',sans-serif;
}

#wrapper{
    display: flex;
}
.top-nav{
    display:flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 2;
}

.img-container{
    display: block;
    margin: auto;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  
.page-content{
    height: 100vh;
    display: inline-block;
    padding-left: 55px;
    padding-right: 55px;;
}

/* .container-fluid:nth-child(3){
    padding-left: 45px;
    padding-right: 45px;
} */
  
#content-wrapper{
    width: 95%;
}
.sidebar {
    width: 12rem;
    min-height: 100vh;
  }
  
#mainNavbar{
    background-color: #e7e7e786;
    display: flex;
    flex-direction: column;
}

.navbar-search{
    width: 50%;
}
.manage-size{
    height: 30px;
    width: 30px;
}
.basik-logo{
    width: 5rem;
}

.nav-item{
    font-size: 0.8em;
}

.logo-space{
    padding-right: 1rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

.fc{
      font-weight: 450;
      display: inline-block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: gray;
      letter-spacing: 0.01em;
  }

.fc:hover{
      cursor: pointer;
      color:black;
  }

.text-color{
      color: gray;
  }

.sub-list{
      font-size: 0.8em;
  }

.font-size{
    font-size:11.7px;
}

.margin-n-padding{
      margin-top: 25rem;
      display: block;
  }

.spacing{
    padding-top: 10em;
    font-size: 10px;
    color:gray;
    display: inline;
  }

.progress-bar{
    display: inline-block;
}


.sidebar-heading{
    font-weight: 500;
    font-size: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: gray;
}